Package: com.luki.aestearevived
Name: Aestea Revived 🌊
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13), com.spark.libsparkcolourpicker
Version: 2.0
Architecture: iphoneos-arm
Description: An aesthetic look to your loved connectivity toggles
Maintainer: Luki
Author: Luki
Section: Tweaks
