Package: me.luki.aestearevived
Name: Aestea Revived 🌊
Depends: mobilesubstrate, preferenceloader, firmware (>= 13), com.mrgcgamer.libgcuniversal
Version: 3.1
Architecture: iphoneos-arm
Description: An aesthetic look to your loved connectivity toggles
Maintainer: Luki
Author: Luki
Section: Tweaks
