<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>GcDuoTwitterCell</string>
			<key>firstLabel</key>
			<string>Luki120</string>
			<key>firstAccount</key>
			<string>Lukii120</string>
			<key>firstURL</key>
			<string>https://avatars.githubusercontent.com/u/74214115?v=4</string>
			<key>secondLabel</key>
			<string>Litten</string>
			<key>secondAccount</key>
			<string>schneelittchen</string>
			<key>secondURL</key>
			<string>https://avatars.githubusercontent.com/u/83172201?v=4</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>EnabledToggleColorsRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Enabled Toggle Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>DisabledToggleColorsRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Disabled Toggle Colors</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Contributors</string>
			<key>detail</key>
			<string>AESContributorsRootListController</string>
			<key>AESContributors</key>
			<string>Contributors</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>PerfectSpotify.png</string>
			<key>label</key>
			<string>PerfectSpotify</string>
			<key>subtitle</key>
			<string>Fully customize your listening experience</string>
			<key>url</key>
			<string>https://parcility.co/package/com.twickd.luki120.perfectspotify/twickd</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lune</string>
			<key>subtitle</key>
			<string>Let A Moon Icon Appear While In DND</string>
			<key>icon</key>
			<string>Lune.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lne/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Rose</string>
			<key>subtitle</key>
			<string>System Wide Haptics, Great uh-huh</string>
			<key>icon</key>
			<string>Rose.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/rse/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Aestea By Litten
Artworks By taki
Maintained By Luki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Litten</string>
			<key>subtitle</key>
			<string>Appreciated 💝</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Luki</string>
			<key>subtitle</key>
			<string>Appreciated ❣️</string>
			<key>url</key>
			<string>https://paypal.me/Luki120</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>GitHub 🌊</string>
			<key>url</key>
			<string>https://github.com/Luki120/AesteaRevived</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Chat with us 👾</string>
			<key>url</key>
			<string>https://discord.gg/tUFuyJvAsg</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>Made With 💜</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Aestea Revived</string>
</dict>
</plist>
